*{
    margin: 0;
    padding: 0;
}

body{
	display: flex;
	align-items: center;
	justify-content: center;
}

#main{
    display:inline-block;
    background: rgb(156, 156, 156);
    border-radius: 10px;
    margin: auto;
    width: 500px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#titulo{
    margin: 10px;
}

#filme{
    margin: 10px;
    width: 200px;
}

#resultado{
    width: 500px;
    background: #fff;
    margin: auto;
    
}

#listfilme{
    justify-content: center;
    display: flex;
    width: 490px;
    list-style: none;
    margin: 10px ;
}

#li_filme{
    
    padding: 20px;
}

.js{
    border: solid 1px rgb(194, 194, 194);
    display: flex;
    justify-content: center;
    padding: 20px;
}

p{
    padding: 10px 0;
}

img{
    padding: 0 20px;
    width: 40px;
    height: 40px;
}